// CONTAINER WIDTH
$container: 1360px;

// BREAKPOINTS
$small: 720px;
$medium: 1150px;
$large: 1400px;


.container{
  padding: 0 calc(50% - #{$container} / 2); 
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px); 
    grid-template-rows: auto;
    grid-gap: 50px; 
    margin-top: 20px;      
}

@media only screen and (min-width: $large){   
    .navbar-mobile{
        display: none;
    }

    .search-bar{
        grid-column: 1/4;
        grid-row: 1/2;   
    }
    
    .selectdiv{
        grid-column: 4/5;
        grid-row: 1/2;   
    }  
}

@media only screen and (max-width: $large){
    .container{      
        $container: 1000px;  
        padding: 0 calc(50% - #{$container} / 2);              
    } 

    header{
        .navbar-mobile{
            display: none;
        }
    }
    .search-bar{
        grid-column: 1/3;
        grid-row: 1/2;  
    }
    
    .selectdiv{
        grid-column: 3/4;
        grid-row: 1/2;     
    }   
}

@media only screen and (max-width: $medium){
    .container{      
        $container: 650px;          
        padding: 0 calc(50% - #{$container} / 2);             
    }    
    header{
         
        .navbar{
            display: none;
        }
        .navbar-mobile{
            display: flex;
        }
    }

    .search-bar{
        grid-column: 1/3;
        grid-row: 1/2;  
    }
    
    .selectdiv{
        grid-column: 1/3;
        grid-row: 2/3;    
    }
}

@media only screen and (max-width: $small){
    .container{      
        $container: 300px;          
        padding: 0 calc(50% - #{$container} / 2);             
    }      

    .grid{
        grid-gap: 35px;
    }

    .search-bar{
        grid-column: 1/2;
        grid-row: 1/2;   
    }
    
    .selectdiv{
        grid-column: 1/2;
        grid-row: 2/3;     
    }
}

.sidebar{
    grid-column: 1/2;
    grid-row: 3/4;    
}